<h1>Possibilidade de upload pelo formulario</h1>

<form method="post" enctype="multipart/form-data" action="/upload">
    <input type="file" name="file">
    <input type="submit" value="upload">
</form>

<h2>voce tambem pode fazer pelo terminal</h2>
<p>LEBRE-SE QUE DEPOIS DO UPLOAD O ARQUIVO VAI PARA A PASTA "uploads" DETRO DO LAB64</p>